<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLDataSetTester.Properties.Settings.AppDB" connectionString="data source=C:\temp1.db3;datetimeformat=Ticks" providerName="System.Data.SQLite"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
