<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLDataSetTester.Properties.Settings.AppDB" connectionString="data source=C:\temp1.db3;datetimeformat=Ticks"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>